body{
  font-family: 'Open Sans', sans-serif;
}

.loading{
    animation: is-rotating 1s infinite;
    border-radius: 100%;
    border: 8px solid #e5e5e5;
    border-top-color: #422156;
    height: 100px;
    width: 100px;
}

.product-oldprice{
  text-decoration: line-through;
  font-size: 13px;
  color:grey;
}

.product-price span{
  color:#422156;
}

.container-content h5{
  text-align: center;
  color:#422156;
  font-weight: lighter;
}

.container-content hr{
  border-color:#422156;
  width: 75%;
  opacity: 0.4;
}

.container-content .position-count span{
  background-color: #f3f0f5;
  color:#422156;
  padding: 25%;
  font-weight: bold;
  font-size: 12px;
  width: 0;
  height: 0;
  border-bottom-left-radius:100%;
  border-bottom-right-radius: 100%;
  
}
.container-content .product-discount span{
  background-color: #422156;
  border-radius: 10%;
  color:white;
  font-size: 9px;
  padding: 30%;
}

.container-content img{
  width: 200px;
  height: 200px;
}

.product-info p{
  color:#422156;
}


@keyframes is-rotating {
    to {
      transform: rotate(1.5turn);
    }
}

.center-loading {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
  }

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');