body{
  font-family: 'Open Sans', sans-serif;
}

.loading{
    animation: is-rotating 1s infinite;
    border-radius: 100%;
    border: 8px solid #e5e5e5;
    border-top-color: #422156;
    height: 100px;
    width: 100px;
}

.product-oldprice{
  text-decoration: line-through;
  font-size: 13px;
  color:grey;
}

.product-price span{
  color:#422156;
}

@keyframes is-rotating {
    to {
      transform: rotate(1.5turn);
    }
}

.center-loading {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
  }

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');